#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
}
.flip-card{
  width: 350px;
}
.menue-button{
  position: absolute;
  left: 15px;
  cursor: pointer;
}
.card{
  height: 450px;
  background-color: bisque;

}
@media (max-width: 500px) {
  .flip-card{
    margin-top: 30px;
    height: 500px;
  }
}
