#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
}
.flip-card{
  width: 350px;
}
.menue-button{
  position: absolute;
  left: 15px;
  cursor: pointer;
}
.current{
  font-size: 30px;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: kalam;
  font-size: 30px;
  height: 450px;
  background-color: bisque;

}
.pre-button {
  background-color: brown;
  margin-right: 50px;
  margin-top: 5px;
}
.next-button{
  background-color: brown;
}
.done{
  margin-left: 15px;
  font-size: 15px;
}

.container2{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .flip-card{
    margin-top: 30px;
    height: 500px;
  }
}
